body{    
    background-size: cover;
}

canvas{
    border: 5px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
.heading{
font-size: 25px;
width: 1005%;
margin: 0px;
box-shadow: 10px 10px 10px black;
}

.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 3;
}
canvas{
    border: 5px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}